<html>
  <head>
    <title>Voting App</title>
  </head>
  <body>
  <p>Vote Now!</p>
  <form action="/vote" method="post">
    <div>
      <label for="tartuffe-button">Tartuffe</label>
      <input name="yourVote" id="tartuffe-button" type="radio" value="tartuffe" />
    </div>
    <div>
      <label for="grognon-button">Grognon</label>
      <input name="yourVote" id="grognon-button" type="radio" value="grognon" />
    </div>
    <input type="submit" name="submit" id="submit" value="Vote!" />
  </form>
  <ul>
    <li>Tartuffe: <%= votes.tartuffe %></li>
    <li>Grognon: <%= votes.grognon %></li>
  </ul>
  </body>
</html>
